html{
	background-color: #303030;
	color: #efefef;
	max-width: 40em;
	margin-left:auto;
	margin-right:auto;
	margin-top:5em;
	margin-bottom: 5em;
	font-family: sans-serif;
	line-height: 1.75em;
}

a{
	color: orange;
	text-decoration: none;
}


em{
	color:lightskyblue;
}

h2{
	padding-top: 2em;
}

hr{
	margin-top: 2em;
	margin-bottom: 2em;
	width: 50%;
}

footer{
	text-align: center;
	padding-top: 4em;
	padding-bottom: 2em;
}
